.container {
  display: grid;
  grid-template-areas:
  'search-bar search-bar search-bar search-bar'
  'video-player video-player video-player video-list '
  'video-player video-player video-player video-list'
}

.search-bar {
  grid-area: search-bar;
  background-color: red;
}

.video-player {
  grid-area: video-player;
  background-color: blue;
}

.video-list {
  grid-area: video-list;
  background-color: yellow;
}

